#app {
    .member-list-container {
        box-shadow: 0 0 0.1em 0.1em rgba(0, 0, 0, 0.15);

        .member-list {
            .member {
                list-style: none;
            }
        }
    }

    .player-grid {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        height: 100%;

        .player {
            position: relative;

            video {
                background: black;
                box-shadow: 0 0 0.1em 0.1em rgba(0, 0, 0, 0.15);
                height: 100%;
                width: 100%;
            }

            .screen-name {
                bottom: 0.5em;
                color: rgba(255, 255, 255, 0.5);
                left: 5%;
                position: absolute;
                text-shadow: 0em 0em rgba(0, 0, 0, 0.5);
            }
        }
    }
}
